@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR);

h1 {
	font-family: "Merriweather";
	color: #009c3b;
	font-size: 24px
}

h2 {
	font-family: "Marriweather";
	color: #002776;
	font-size: 20px
}

h3 {
	font-family: "Marriweather";
	color: #009c3b;
	font-size: 16px
}

p {
	font-family: "Noto Sans KR";
	color: #002776;
	font-size: 12px
}

header {
    padding: 20px;
	text-align: center;
}

#mainnav {
	width: 100%;
}

nav { 
    padding: 20px;
    text-align: center;
    clear: both;
}

aside {
    padding: 20px; width: 300px;
    text-align: left;
    float: left;
}

article { 
    padding: 20px;
    width: 300px; margin: 20px;
    float: left;
	display: inline-block;

}

footer {
    padding: 20px;
    text-align: center;
    clear: both;
}

.column { 
    padding: 20px;
    width: 30%;
    float: left;
    clear: both;
    display: inline-block;
}

#posts {
	content:"";
	display: table;
	clear: both;
}

#nazare {
	max-width: 100%
	float: left;
	display: inline-block;

}

#me {
	max-width: 75%
}

#desmatamento {
	max-width: 90%
}

#santos-odebrecht {
	max-width: 90%
}

#palpatine {
	max-width: 90%
}